
.Rproj.user/3231C31B/sources/prop/E4DFF979
.Rproj.user/3231C31B/sources/prop/INDEX
.Rproj.user/3231C31B/sources/s-9A88CC56/8E3FFB55
.Rproj.user/3231C31B/sources/s-9A88CC56/8E3FFB55-contents
.Rproj.user/3231C31B/sources/s-9A88CC56/lock_file
.Rproj.user/shared/notebooks/paths
4.Graphs/desktop.ini
